- tabs do |strip|
  = strip.tab(t(".tabs.settings"), "settings") do
    = render "form"
  = strip.tab(t(".tabs.packages"), "packages") do
    = form_for @event do |form|
      = package_editor(@event)
